Django==4.2.13
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
Pillow==11.3.0
python-dotenv==1.0.1
psycopg2-binary==2.9.12
django-filter==24.2
drf-spectacular==0.27.2
python-socketio==5.11.2

# Production
gunicorn==22.0.0
daphne==4.1.2
whitenoise==6.7.0
dj-database-url==2.1.0
channels-redis==4.2.0
tzlocal==5.3.1